/* console.log("selective print module has been executed"); */
body > *:not(.printable) {
    display: none;
}

//Not needed if already showing
body > .printable {
    display: block;
justify-content: center;
}